@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.image {
  cursor: pointer 25 15 auto;

}
body {
  font-family: 'Open Sans', sans-serif;
}
.side-bar-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.new-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.card-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #513069;
  border-radius: 5px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b1656;
}
@layer components {
   .notification {
      @apply w-full flex items-center
      rounded-md my-1 p-1 bg-white 
      hover:bg-gray-200 hover:cursor-pointer 
    }
  .nav-bar-icon {
    @apply w-8 h-8 bg-opacity-40 bg-white rounded-full p-1
          hover:cursor-pointer flex justify-center items-center
          hover:bg-opacity-20 text-white text-base 
          transition-all ease-linear duration-200
  }
  .nav-bar-photo {
    @apply w-8 h-8 bg-opacity-40 bg-white rounded-full
          hover:cursor-pointer flex justify-center items-center
          hover:bg-opacity-20 text-white text-base 
          transition-all ease-linear duration-200
  }
  .nav-bar-app {
    @apply w-20 h-10 bg-opacity-20 bg-transparent rounded-md p-1
          hover:cursor-pointer flex justify-center items-center
          hover:bg-white mx-2
          hover:bg-opacity-30 text-white text-lg
          transition-all ease-linear duration-200
  }
  .nav-bar-app-selected {
    @apply font-bold
           bg-white bg-opacity-30
  }
  .side-bar-item {
    @apply flex items-center p-3 h-8 text-base bg-transparent font-normal
          hover:bg-black hover:bg-opacity-20 hover:cursor-pointer text-black
          w-10/12 my-1.5 justify-center rounded-full
          transition-all duration-100 ease-linear
   }
   .side-bar-item-selected {
    @apply bg-primary-1 bg-opacity-100 text-white
          hover:bg-primary-2 hover:bg-opacity-100 hover:text-white
   }
   .new-button {
    @apply flex items-center justify-around w-24 px-2 bg-white rounded-2xl
            h-14 border cursor-pointer hover:shadow-sm 
            transition-all duration-200 ease-linear hover:bg-primary-1 hover:text-white
            hover:shadow-slate-700
   }
   .card {
    @apply h-60 w-[370px] rounded-lg bg-secondary-2 m-4 border border-slate-300 hover:shadow-md hover:cursor-pointer
   }
   .loading-card {
    @apply h-60 w-[370px] rounded-lg bg-secondary-2 m-4 border border-slate-300 shadow-sm
          bg-gradient-to-r from-gray-50 to-primary-gray to-80% background-animate-1
   }
   .card-header {
    @apply text-lg
   }
   .card-text {
    @apply text-xs
   }
   .node-container {
    @apply flex flex-col items-center rounded-lg  mb-6
   }
   .item {
    @apply flex flex-row items-center justify-between w-full
            px-10 py-5  text-base
             rounded-lg border
            transition-all duration-100 ease-linear
   }
   .loading-item {
    @apply flex flex-row items-center justify-between w-full
            px-10 py-5  text-base mb-4
            rounded-lg border
            transition-all duration-100 ease-linear
            bg-gradient-to-r from-gray-50 to-primary-gray to-80% background-animate-1
   }
   .unstarred {
    @apply text-gray-400 flex justify-center items-center hover:text-yellow-400
            transition-all ease-linear duration-75
   }
   .starred {
    @apply text-yellow-400 flex justify-center items-center hover:text-yellow-600
            transition-all ease-linear duration-75
   }
   .node-purple {
    @apply bg-purple-3
   }
   .item-purple {
    @apply bg-purple-3 hover:bg-purple-1
   }
   .node-black {
    @apply bg-black-3
   }
   .item-black {
    @apply bg-black-3 hover:bg-black-1
   }
   .node-green {
    @apply bg-green-3
   }
   .item-green {
    @apply bg-green-3 hover:bg-green-1
   }
   .node-red {
    @apply bg-red-3
   }
   .item-red {
    @apply bg-red-3 hover:bg-red-3
   }
   .node-gray {
    @apply bg-gray-3
   }
   .item-gray {
    @apply bg-gray-3 hover:bg-gray-1
   }
   .node-pink {
    @apply bg-pink-3
   }
   .item-pink {
    @apply bg-pink-3 hover:bg-pink-1
   }
   .node-yellow {
    @apply bg-yellow-3
   }
   .item-yellow {
    @apply bg-yellow-3 hover:bg-yellow-1
   }

   .node-blue {
    @apply bg-blue-3
   }
   .item-blue {
    @apply bg-blue-3 hover:bg-blue-1
   }
   .item-detailed {
    @apply w-[98%] bg-white my-3 rounded-md p-2
   }
   .item-detailed-loading {
    @apply w-[98%] bg-white my-3 rounded-md p-2 h-10
            bg-gradient-to-r from-gray-50 to-primary-gray background-animate-1
            flex justify-center items-center
   }
   .resource {
    @apply flex border-b-2 p-3 last:border-b-0 items-center cursor-pointer
   }
   .resource-purple {
    @apply bg-purple-2
   }
   .resource-blue {
    @apply bg-blue-2
   }
   .resource-yellow {
    @apply bg-yellow-2
   }
   .resource-pink {
    @apply bg-pink-2
   }
   .resource-black {
    @apply bg-black-2
   }
   .resource-gray {
    @apply bg-gray-2
   }
   .resource-green {
    @apply bg-green-2
   }
   .resource-red {
    @apply bg-red-2
   }

   .resource-option {
    @apply flex justify-center items-center p-2 text-base rounded-full
          hover:bg-gray-200 hover:cursor-pointer  transition-all duration-200 ease-linear
   }
   .node-option {
    @apply flex justify-center items-center p-2 text-base rounded-full
          hover:bg-gray-400 hover:cursor-pointer  transition-all duration-200 ease-linear
   }
  .name-tooltip {
    @apply absolute w-auto ml-2 p-2 min-w-max
                rounded-md shadow-md
                text-white bg-gray-900
                text-xs font-bold hover:cursor-pointer
                transition-all duration-100 scale-0 origin-left; 
  }
  .image-tooltip {
    @apply absolute w-auto ml-2 p-2 min-w-max bottom-5 right-5
                rounded-md shadow-md
                text-white bg-gray-900
                text-xs font-bold hover:cursor-pointer
                transition-all duration-100 scale-0
  }
  .created-by-tooltip {
    @apply absolute w-auto ml-2 p-2 min-w-max top-6 left-0
            rounded-md shadow-md z-50
            text-white bg-gray-900
            text-xs font-bold hover:cursor-pointer
            transition-all duration-100 scale-0 origin-left; 
  }
  .trans {
    @apply transition-all ease-linear duration-200
  }
}
  @keyframes AnimationName-1 {
    0%,
    100% {
      background-position: 0% 25%;
    }
    50% {
      background-position: 100% 75%;
    }
  }

  .background-animate-2 {
    background-size: 20%;

    -webkit-animation: AnimationName-2 9s ease infinite;
    -moz-animation: AnimationName-2 9s ease infinite;
    animation: AnimationName-3 6s ease infinite;
  }
  .background-animate-1 {
    background-size: 400%;

    -webkit-animation: AnimationName-1 9s ease infinite;
    -moz-animation: AnimationName-1 9s ease infinite;
    animation: AnimationName-1 3s ease infinite;
  }

  @keyframes AnimationName-2 {
    0%,
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  