@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.image {
  cursor: pointer 25 15 auto;

}
body {
  font-family: 'Open Sans', sans-serif;
}
.side-bar-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.new-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.card-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #513069;
  border-radius: 5px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b1656;
}
@layer components {
   .notification {
      @apply w-full flex items-center
      rounded-md my-1 p-1 bg-white 
      hover:bg-gray-200 hover:cursor-pointer 
    }
  .nav-bar-icon {
    @apply w-8 h-8 bg-opacity-40 bg-white rounded-full p-1
          hover:cursor-pointer flex justify-center items-center
          hover:bg-opacity-20 text-white text-base 
          transition-all ease-linear duration-200
  }
  .nav-bar-photo {
    @apply w-8 h-8 bg-opacity-40 bg-white rounded-full
          hover:cursor-pointer flex justify-center items-center
          hover:bg-opacity-20 text-white text-base 
          transition-all ease-linear duration-200
  }
  .nav-bar-app {
    @apply w-20 h-10 bg-opacity-20 bg-transparent rounded-md p-1
          hover:cursor-pointer flex justify-center items-center
          hover:bg-white mx-2
          hover:bg-opacity-30 text-white text-lg
          transition-all ease-linear duration-200
  }
  .nav-bar-app-selected {
    @apply font-bold
           bg-white bg-opacity-30
  }
  .side-bar-item {
    @apply flex items-center p-3 h-8 text-base bg-transparent font-normal
          hover:bg-black hover:bg-opacity-20 hover:cursor-pointer text-black
          w-10/12 my-1.5 justify-center rounded-full
          transition-all duration-100 ease-linear
   }
   .side-bar-item-selected {
    @apply bg-primary-1 bg-opacity-100 text-white
          hover:bg-primary-2 hover:bg-opacity-100 hover:text-white
   }
   .new-button {
    @apply flex items-center justify-around w-24 px-2 bg-white rounded-2xl
            h-14 border cursor-pointer hover:shadow-sm 
            transition-all duration-200 ease-linear hover:bg-primary-1 hover:text-white
            hover:shadow-slate-700
   }
   .card {
    @apply h-60 w-[370px] rounded-lg bg-secondary-2 m-4 border border-slate-300 hover:shadow-md hover:cursor-pointer
   }
   .loading-card {
    @apply h-60 w-[370px] rounded-lg bg-secondary-2 m-4 border border-slate-300 shadow-sm
          bg-gradient-to-r from-gray-50 to-primary-gray to-80% background-animate-1
   }
   .card-header {
    @apply text-lg
   }
   .card-text {
    @apply text-xs
   }
   .node-container {
    @apply flex flex-col items-center rounded-lg  mb-6
   }
   .item {
    @apply flex flex-row items-center justify-between w-full
            px-10 py-5  text-base
             rounded-lg border
            transition-all duration-100 ease-linear
   }
   .loading-item {
    @apply flex flex-row items-center justify-between w-full
            px-10 py-5  text-base mb-4
            rounded-lg border
            transition-all duration-100 ease-linear
            bg-gradient-to-r from-gray-50 to-primary-gray to-80% background-animate-1
   }
   .unstarred {
    @apply text-gray-400 flex justify-center items-center hover:text-yellow-400
            transition-all ease-linear duration-75
   }
   .starred {
    @apply text-yellow-400 flex justify-center items-center hover:text-yellow-600
            transition-all ease-linear duration-75
   }
   .node-purple {
    @apply bg-purple-3
   }
   .item-purple {
    @apply bg-purple-3 hover:bg-purple-1
   }
   .node-black {
    @apply bg-black-3
   }
   .item-black {
    @apply bg-black-3 hover:bg-black-1
   }
   .node-green {
    @apply bg-green-3
   }
   .item-green {
    @apply bg-green-3 hover:bg-green-1
   }
   .node-red {
    @apply bg-red-3
   }
   .item-red {
    @apply bg-red-3 hover:bg-red-3
   }
   .node-gray {
    @apply bg-gray-3
   }
   .item-gray {
    @apply bg-gray-3 hover:bg-gray-1
   }
   .node-pink {
    @apply bg-pink-3
   }
   .item-pink {
    @apply bg-pink-3 hover:bg-pink-1
   }
   .node-yellow {
    @apply bg-yellow-3
   }
   .item-yellow {
    @apply bg-yellow-3 hover:bg-yellow-1
   }

   .node-blue {
    @apply bg-blue-3
   }
   .item-blue {
    @apply bg-blue-3 hover:bg-blue-1
   }
   .item-detailed {
    @apply w-[98%] bg-white my-3 rounded-md p-2
   }
   .item-detailed-loading {
    @apply w-[98%] bg-white my-3 rounded-md p-2 h-10
            bg-gradient-to-r from-gray-50 to-primary-gray background-animate-1
            flex justify-center items-center
   }
   .resource {
    @apply flex border-b-2 p-3 last:border-b-0 items-center cursor-pointer
   }
   .resource-purple {
    @apply bg-purple-2
   }
   .resource-blue {
    @apply bg-blue-2
   }
   .resource-yellow {
    @apply bg-yellow-2
   }
   .resource-pink {
    @apply bg-pink-2
   }
   .resource-black {
    @apply bg-black-2
   }
   .resource-gray {
    @apply bg-gray-2
   }
   .resource-green {
    @apply bg-green-2
   }
   .resource-red {
    @apply bg-red-2
   }

   .resource-option {
    @apply flex justify-center items-center p-2 text-base rounded-full
          hover:bg-gray-200 hover:cursor-pointer  transition-all duration-200 ease-linear
   }
   .node-option {
    @apply flex justify-center items-center p-2 text-base rounded-full
          hover:bg-gray-400 hover:cursor-pointer  transition-all duration-200 ease-linear
   }
  .name-tooltip {
    @apply absolute w-auto ml-2 p-2 min-w-max
                rounded-md shadow-md
                text-white bg-gray-900
                text-xs font-bold hover:cursor-pointer
                transition-all duration-100 scale-0 origin-left; 
  }
  .image-tooltip {
    @apply absolute w-auto ml-2 p-2 min-w-max bottom-5 right-5
                rounded-md shadow-md
                text-white bg-gray-900
                text-xs font-bold hover:cursor-pointer
                transition-all duration-100 scale-0
  }
  .created-by-tooltip {
    @apply absolute w-auto ml-2 p-2 min-w-max top-6 left-0
            rounded-md shadow-md z-50
            text-white bg-gray-900
            text-xs font-bold hover:cursor-pointer
            transition-all duration-100 scale-0 origin-left; 
  }
  .trans {
    @apply transition-all ease-linear duration-200
  }
}
  @keyframes AnimationName-1 {
    0%,
    100% {
      background-position: 0% 25%;
    }
    50% {
      background-position: 100% 75%;
    }
  }

  .background-animate-2 {
    background-size: 20%;

    -webkit-animation: AnimationName-2 9s ease infinite;
    -moz-animation: AnimationName-2 9s ease infinite;
    animation: AnimationName-3 6s ease infinite;
  }
  .background-animate-1 {
    background-size: 400%;

    -webkit-animation: AnimationName-1 9s ease infinite;
    -moz-animation: AnimationName-1 9s ease infinite;
    animation: AnimationName-1 3s ease infinite;
  }
  .spinner {
    width: 3em;
    height: 3em;
    border: 0.3em solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  .spinner-2 {
    width: 5em;
    height: 5em;
    border: 0.4em solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes AnimationName-2 {
    0%,
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  

/*  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0C134F 100%);
  overflow: hidden;
}
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}
.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.89em;
  --top-offset: 62.11vh;
  --fall-duration: 6.388s;
  --fall-delay: 2.593s;
}
.star:nth-child(2) {
  --star-tail-length: 6.24em;
  --top-offset: 96.4vh;
  --fall-duration: 11.837s;
  --fall-delay: 4.233s;
}
.star:nth-child(3) {
  --star-tail-length: 7.12em;
  --top-offset: 60.92vh;
  --fall-duration: 8.838s;
  --fall-delay: 2.56s;
}
.star:nth-child(4) {
  --star-tail-length: 5.52em;
  --top-offset: 39.15vh;
  --fall-duration: 10.377s;
  --fall-delay: 4.358s;
}
.star:nth-child(5) {
  --star-tail-length: 5.8em;
  --top-offset: 7.5vh;
  --fall-duration: 11.458s;
  --fall-delay: 0.548s;
}
.star:nth-child(6) {
  --star-tail-length: 5.76em;
  --top-offset: 91.73vh;
  --fall-duration: 7.716s;
  --fall-delay: 8.935s;
}
.star:nth-child(7) {
  --star-tail-length: 7.13em;
  --top-offset: 39.05vh;
  --fall-duration: 7.673s;
  --fall-delay: 6.967s;
}
.star:nth-child(8) {
  --star-tail-length: 5.66em;
  --top-offset: 96.2vh;
  --fall-duration: 8.013s;
  --fall-delay: 6.954s;
}
.star:nth-child(9) {
  --star-tail-length: 5.86em;
  --top-offset: 87.69vh;
  --fall-duration: 7.745s;
  --fall-delay: 9.178s;
}
.star:nth-child(10) {
  --star-tail-length: 7.21em;
  --top-offset: 97.38vh;
  --fall-duration: 10.414s;
  --fall-delay: 5.676s;
}
.star:nth-child(11) {
  --star-tail-length: 5.9em;
  --top-offset: 5.14vh;
  --fall-duration: 10.003s;
  --fall-delay: 4.787s;
}
.star:nth-child(12) {
  --star-tail-length: 6.3em;
  --top-offset: 78.82vh;
  --fall-duration: 6.797s;
  --fall-delay: 8.363s;
}
.star:nth-child(13) {
  --star-tail-length: 6.12em;
  --top-offset: 56.96vh;
  --fall-duration: 8.102s;
  --fall-delay: 2.784s;
}
.star:nth-child(14) {
  --star-tail-length: 6.66em;
  --top-offset: 33.64vh;
  --fall-duration: 9.462s;
  --fall-delay: 0.852s;
}
.star:nth-child(15) {
  --star-tail-length: 6.28em;
  --top-offset: 28.84vh;
  --fall-duration: 6.356s;
  --fall-delay: 6.702s;
}
.star:nth-child(16) {
  --star-tail-length: 5.75em;
  --top-offset: 89.54vh;
  --fall-duration: 6.031s;
  --fall-delay: 7.994s;
}
.star:nth-child(17) {
  --star-tail-length: 6.88em;
  --top-offset: 45.43vh;
  --fall-duration: 6.225s;
  --fall-delay: 6.067s;
}
.star:nth-child(18) {
  --star-tail-length: 6.55em;
  --top-offset: 64.96vh;
  --fall-duration: 10.183s;
  --fall-delay: 5.462s;
}
.star:nth-child(19) {
  --star-tail-length: 5.76em;
  --top-offset: 45.14vh;
  --fall-duration: 10.018s;
  --fall-delay: 1.87s;
}
.star:nth-child(20) {
  --star-tail-length: 7.17em;
  --top-offset: 1.4vh;
  --fall-duration: 11.471s;
  --fall-delay: 6.585s;
}
.star:nth-child(21) {
  --star-tail-length: 5.99em;
  --top-offset: 7.16vh;
  --fall-duration: 9.628s;
  --fall-delay: 8.393s;
}
.star:nth-child(22) {
  --star-tail-length: 6.8em;
  --top-offset: 24.07vh;
  --fall-duration: 8.458s;
  --fall-delay: 4.499s;
}
.star:nth-child(23) {
  --star-tail-length: 7.37em;
  --top-offset: 84.35vh;
  --fall-duration: 8.074s;
  --fall-delay: 2.535s;
}
.star:nth-child(24) {
  --star-tail-length: 5.18em;
  --top-offset: 66.15vh;
  --fall-duration: 7.282s;
  --fall-delay: 3.614s;
}
.star:nth-child(25) {
  --star-tail-length: 6.18em;
  --top-offset: 67.8vh;
  --fall-duration: 11.351s;
  --fall-delay: 4.579s;
}
.star:nth-child(26) {
  --star-tail-length: 7.07em;
  --top-offset: 57.09vh;
  --fall-duration: 8.185s;
  --fall-delay: 3.616s;
}
.star:nth-child(27) {
  --star-tail-length: 5.93em;
  --top-offset: 81.89vh;
  --fall-duration: 7.565s;
  --fall-delay: 3.681s;
}
.star:nth-child(28) {
  --star-tail-length: 7.33em;
  --top-offset: 12.52vh;
  --fall-duration: 8.533s;
  --fall-delay: 2.999s;
}
.star:nth-child(29) {
  --star-tail-length: 5.39em;
  --top-offset: 35.48vh;
  --fall-duration: 6.535s;
  --fall-delay: 0.379s;
}
.star:nth-child(30) {
  --star-tail-length: 7.01em;
  --top-offset: 78.46vh;
  --fall-duration: 10.572s;
  --fall-delay: 5.933s;
}
.star:nth-child(31) {
  --star-tail-length: 5.34em;
  --top-offset: 39.79vh;
  --fall-duration: 9.05s;
  --fall-delay: 4.43s;
}
.star:nth-child(32) {
  --star-tail-length: 6.44em;
  --top-offset: 82.82vh;
  --fall-duration: 7.016s;
  --fall-delay: 2.623s;
}
.star:nth-child(33) {
  --star-tail-length: 5.79em;
  --top-offset: 73.79vh;
  --fall-duration: 7.67s;
  --fall-delay: 9.828s;
}
.star:nth-child(34) {
  --star-tail-length: 5.75em;
  --top-offset: 29.76vh;
  --fall-duration: 7.964s;
  --fall-delay: 9.293s;
}
.star:nth-child(35) {
  --star-tail-length: 7.24em;
  --top-offset: 34.03vh;
  --fall-duration: 9.281s;
  --fall-delay: 2.769s;
}
.star:nth-child(36) {
  --star-tail-length: 6.53em;
  --top-offset: 92.23vh;
  --fall-duration: 10.305s;
  --fall-delay: 3.56s;
}
.star:nth-child(37) {
  --star-tail-length: 5.82em;
  --top-offset: 35.43vh;
  --fall-duration: 10.26s;
  --fall-delay: 2.36s;
}
.star:nth-child(38) {
  --star-tail-length: 5.91em;
  --top-offset: 42.5vh;
  --fall-duration: 9.538s;
  --fall-delay: 0.621s;
}
.star:nth-child(39) {
  --star-tail-length: 7.46em;
  --top-offset: 82.52vh;
  --fall-duration: 7.792s;
  --fall-delay: 8.557s;
}
.star:nth-child(40) {
  --star-tail-length: 6.62em;
  --top-offset: 96.16vh;
  --fall-duration: 10.189s;
  --fall-delay: 1.613s;
}
.star:nth-child(41) {
  --star-tail-length: 6.57em;
  --top-offset: 28.47vh;
  --fall-duration: 11.231s;
  --fall-delay: 5.681s;
}
.star:nth-child(42) {
  --star-tail-length: 5.57em;
  --top-offset: 67.87vh;
  --fall-duration: 11.761s;
  --fall-delay: 8.337s;
}
.star:nth-child(43) {
  --star-tail-length: 5.36em;
  --top-offset: 28.59vh;
  --fall-duration: 7.955s;
  --fall-delay: 5.231s;
}
.star:nth-child(44) {
  --star-tail-length: 6.29em;
  --top-offset: 81.87vh;
  --fall-duration: 6.425s;
  --fall-delay: 5.175s;
}
.star:nth-child(45) {
  --star-tail-length: 5.48em;
  --top-offset: 62.01vh;
  --fall-duration: 10.981s;
  --fall-delay: 5.7s;
}
.star:nth-child(46) {
  --star-tail-length: 6.12em;
  --top-offset: 83.7vh;
  --fall-duration: 10.543s;
  --fall-delay: 1.813s;
}
.star:nth-child(47) {
  --star-tail-length: 6.37em;
  --top-offset: 95.68vh;
  --fall-duration: 6.401s;
  --fall-delay: 3.262s;
}
.star:nth-child(48) {
  --star-tail-length: 6.54em;
  --top-offset: 41.95vh;
  --fall-duration: 6.878s;
  --fall-delay: 7.82s;
}
.star:nth-child(49) {
  --star-tail-length: 6.33em;
  --top-offset: 95.93vh;
  --fall-duration: 8.938s;
  --fall-delay: 0.413s;
}
.star:nth-child(50) {
  --star-tail-length: 5.75em;
  --top-offset: 99.14vh;
  --fall-duration: 6.489s;
  --fall-delay: 3.397s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}