@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-bar-icon {
    @apply w-8 h-8 bg-opacity-20 bg-white rounded-full p-1
          hover:cursor-pointer flex justify-center items-center
          hover:bg-opacity-30 text-white text-base
  }
  .nav-bar-app {
    @apply w-20 h-10 bg-opacity-20 bg-transparent rounded-md p-1
          hover:cursor-pointer flex justify-center items-center
          hover:bg-white mx-2
          hover:bg-opacity-30 text-white text-lg
  }
  .nav-bar-app-selected {
    @apply font-bold
           bg-white bg-opacity-30
  }
  .side-bar-item {
    @apply flex items-center p-3 h-8 text-lg bg-transparent
          hover:bg-white hover:bg-opacity-20 hover:cursor-pointer text-white
          justify-start pl-5
   }
}
  @keyframes AnimationName-1 {
    0%,
    100% {
      background-position: 0% 25%;
    }
    50% {
      background-position: 100% 75%;
    }
  }

  .background-animate-2 {
    background-size: 20%;

    -webkit-animation: AnimationName-2 9s ease infinite;
    -moz-animation: AnimationName-2 9s ease infinite;
    animation: AnimationName-3 6s ease infinite;
  }
  .background-animate-1 {
    background-size: 400%;

    -webkit-animation: AnimationName-1 9s ease infinite;
    -moz-animation: AnimationName-1 9s ease infinite;
    animation: AnimationName-1 5s ease infinite;
  }

  @keyframes AnimationName-2 {
    0%,
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
